<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Alpha Blog</h1>
    <br>
    <p><%= link_to"Sign up", new_user_registration_path, :class => "btn btn-primary btn-lg" =%></a</p>
  </div>
</div>
